<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Song Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Song <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"></a>Edit Song</li>
        <li><a href="#"></a>Delete Song</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Description
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Chart weeks
    </div>
  </div>
</div>
